body {
    background-color: rgb(194, 191, 191);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock-region {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 70vh;
    border-radius: 1.5rem;
    background-color: white;
}

#clock {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 1px solid black;
}