body {
    background-color: #d3d1d1;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.regionCounter {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.buttons {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

p {
    font-size: 7rem;
    margin: 10px 0;
    font-weight: normal;
    color: #4CAF50;
}

h1 {
    font-size: 3rem;
    margin: 10px 0;
}