* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(90, 142, 177);
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.regionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.regionPicker {
    height: 500px;
    width: 400px;
    background-color: white;
    border-radius: 1rem;
}

.regionPrint {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.printOfColor {
    height: 85%;
    width: 90%;
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
}

.regionInput {
    display: flex;
    justify-content: center;
}

.selectedColor {
    width: 70%;
    height: 40px;
    margin-right: 1rem;
}

.textColor {
    display: flex;
    align-items: center;
}